@model DetailsAnimeViewModel
@{
    ViewData["Title"] = "Anime Details";
}
@inject SignInManager<MoviesAppUser> SignInManager
<section class="py-5 bg-white">
    <div class="container-fluid">
        <!-- Heading -->
        <div class="row">
            <div class="col">
                <div class="mb-5">
                    <h1 class="text-dark text-center text-uppercase font-weight-bold"
                        id="movie-title">
                        @Model.Name
                    </h1>
                    <hr class="hr" />
                </div>
            </div>
        </div>
        @if (this.SignInManager.IsSignedIn(this.User) && this.User.IsInRole("Admin"))
        {
            <div class="container p-2 d-flex justify-content-center">
                <a asp-controller="AnimesEntities"
                   asp-action="Create"
                   asp-route-animeId="@Model.Id"
                   asp-route-name="@Model.Name"
                   asp-route-poster="@Model.Poster"
                   class="btn btn-primary" role="button">Add Episode...</a>
            </div>
            <div class="container p-2 d-flex justify-content-center">
                <a asp-controller="Animes"
                   asp-action="Edit"
                   asp-route-id="@Model.Id"
                   class="btn btn-primary" role="button">Edit Aime</a>
            </div>
        }
        <!-- Details -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="d-flex ">
                    <img src="@Model.Poster" id="movie-poster" height="370" class="mr-2" />
                    <div class="text-dark">
                        <!-- Rating starts -->
                        <div id="movie-rating" class="mb-2">
                            <span class="font-weight-bold">Imdb Rating: @Model.Rating</span>
                            @for (int i = 0; i < Model.GetStars(); i++)
                            {
                                <span class="fas fa-star text-yellow"></span>

                            }
                        </div>
                        <!-- Release date -->
                        <p class="mb-2">
                            <span class="font-weight-bold">Release date: </span>
                            <span id="movie-release-date">@Model.ReleaseDate</span>
                        </p>
                        <!-- Overview -->
                        <p class="mb-2" id="movie-overview">
                            <h4 class="text-center" id="Movie-description">Description</h4>
                            <span class="font-weight-bold">@Model.Description</span>
                        </p>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("AnimesTable", new { id = this.Model.Id })
        </div>
    </div>
</section>

